* {
	font-family: Tahoma,Verdana,Arial,sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*set to transparant so not highlighted*/
    tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    background-color: #000;
}

.hidden {
    display: none;
}

canvas {
    position: absolute;
}

#common-share {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    display: none;
    background: url("./images/common-share-tip.png") no-repeat right top, rgba(11, 14, 24, 0.8);
    -moz-background-size: 60% auto;
    -o-background-size: 60% auto;
    background-size: 60% auto
}

#content {
    width: 100%;
    height:100%;
}

#intro-container {
    position: absolute;
    top: 50%;
    left: 50%;
	width: 300px;
    height: 240px;
    margin-top: -120px;
    margin-left: -150px;
}

#loading {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 150px;
    height: 150px;
    z-index: 90;
    background-image: url(./images/loading/loading_ani_ph.png);
    -webkit-animation: loading .75s steps(1) infinite;
    -moz-animation: loading .75s steps(1) infinite;
    -o-animation: loading .75s steps(1) infinite;
    animation: loading .75s steps(1) infinite
}

#loading_percent, #loading_tips {
    margin:6px;
    color: #aaa;
    font-size: 1.5em;
    text-align: center
}

@-webkit-keyframes loading {
    0% {
        background-position: 0 0
    }
    12.50% {
        background-position: -150px 0
    }
    25.00% {
        background-position: -300px 0
    }
    37.50% {
        background-position: -450px 0
    }
    50.00% {
        background-position: -600px 0
    }
    62.50% {
        background-position: -750px 0
    }
    75.00% {
        background-position: -900px 0
    }
    87.50% {
        background-position: -1050px 0
    }
    100.00% {
        background-position: -1200px 0
    }
}

@-moz-keyframes loading {
    0% {
        background-position: 0 0
    }
    12.50% {
        background-position: -150px 0
    }
    25.00% {
        background-position: -300px 0
    }
    37.50% {
        background-position: -450px 0
    }
    50.00% {
        background-position: -600px 0
    }
    62.50% {
        background-position: -750px 0
    }
    75.00% {
        background-position: -900px 0
    }
    87.50% {
        background-position: -1050px 0
    }
    100.00% {
        background-position: -1200px 0
    }
}

@-o-keyframes loading {
    0% {
        background-position: 0 0
    }
    12.50% {
        background-position: -150px 0
    }
    25.00% {
        background-position: -300px 0
    }
    37.50% {
        background-position: -450px 0
    }
    50.00% {
        background-position: -600px 0
    }
    62.50% {
        background-position: -750px 0
    }
    75.00% {
        background-position: -900px 0
    }
    87.50% {
        background-position: -1050px 0
    }
    100.00% {
        background-position: -1200px 0
    }
}

@keyframes loading {
    0% {
        background-position: 0 0
    }
    12.50% {
        background-position: -150px 0
    }
    25.00% {
        background-position: -300px 0
    }
    37.50% {
        background-position: -450px 0
    }
    50.00% {
        background-position: -600px 0
    }
    62.50% {
        background-position: -750px 0
    }
    75.00% {
        background-position: -900px 0
    }
    87.50% {
        background-position: -1050px 0
    }
    100.00% {
        background-position: -1200px 0
    }
}